.nav_panel {
  background: url("https://wallpaperaccess.com/full/1385492.jpg");
  background-position: center;
  padding: 10px;
  .nav_content {
    a {
      text-decoration: none;
      color: #fff;
      // margin-left: 10px;
      font-size: 1.2rem;
      padding: 10px;
      span {
        padding: 10px;
      }
    }
    ul {
      padding-left: 20px;
    }
    > ul > li {
      list-style: none;
      padding: 1rem;
    }
  }
}
.nav_dropdown {
  padding: 10px;
  li a {
    font-size: 1.1rem !important;
    color: rgb(212, 216, 216) !important;
    display: inline-block;
    width: max-content;
  }
}
nav ul li {
  padding: 10px;
  list-style: none;
}

.nav_content > ul > li:not(li:last-child):hover,
.nav_dropdown > li:hover {
  background: #0004ff;
  color: #fff;
  border-radius: 5px;
}
@media screen and (max-width: 768px) {
  .nav_content {
    ul {
      padding: 0 !important;
    }
    a span {
      display: none;
    }
  }
}
